/* 重置一些基本樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #202020;
    color: #333;
    padding: 20px;
}

/* 主要內容區域樣式 */
#mainContent {
    max-width: 800px;
    margin: 0 auto; /* 水平居中 */
    background-color: #ffffff;
    padding-top: 70px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    flex: 1;
}

/* 圖片樣式 */
#tr-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto; /* 居中並在下方添加間距 */
    border-radius: 10px; /* 圓角效果 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 輕微陰影 */
}

/* 內部標題樣式 */
#mainContent section h2 {
    margin-bottom: 10px;
    color: #35424a;
    border-bottom: 2px solid #e8491d;
    display: inline-block;
    padding-bottom: 5px;
}

/* 列表樣式 */
#mainContent ul {
    list-style-type: disc;
    margin-left: 20px;
}

#mainContent ul li {
    margin-bottom: 8px;
}

/* 鏈接樣式 */
#mainContent a {
    color: #e8491d;
    text-decoration: none;
}

#mainContent a:hover {
    text-decoration: underline;
}

/* 響應式設計 */
@media (max-width: 768px) {
    body {
        padding: 10px; /* 減少內邊距以適應小屏幕 */
    }

    #mainContent {
    padding: 15px;
    margin-top: 0px;
    }

    #tr-img {
        margin-bottom: 15px;
    }
}
